@page
@model RazorTest.Pages.LotType.IndexModel

<client-app></client-app>

<div style="display:none">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LotType[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LotType[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LotType[0].Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LotType[0].Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LotType[0].PublishedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LotType)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.LotTypeId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.LotTypeId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.LotTypeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts {
    <script src="~/app/runtime.js"></script>
    <script src="~/app/polyfills.js"></script>
    <script src="~/app/styles.js"></script>
    <script src="~/app/vendor.js"></script>
    <script src="~/app/main.js"></script>
}